<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="somReportUtils.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <somReportUtils.Properties.Settings>
            <setting name="TeamId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayerId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineupItemId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineupDataId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestTeamId" serializeAs="String">
                <value>1</value>
            </setting>
        </somReportUtils.Properties.Settings>
    </applicationSettings>
</configuration>